* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0b0f14;
  color: white;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b1510;
}

::-webkit-scrollbar-thumb {
  background: #1f3a2b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3ef08c;
}
